*{
  padding: 0%;
  margin: 0%;
}

body{
  background-color: rgb(0, 18, 51);
  padding: 20px;
}
.container{
  align-items: center;
  display: flex;
}
.first-comment, .second-comment{
  padding: 25px;
  color: white;
  font-size: 18px;
  margin: 20px;
  border-radius: 25px;
  display: inline-block;
}
.first-comment{
  background-color: rgb(0, 24, 69)  ;
  order: 1;
}

.second-comment{
  background-color: rgb(0, 24, 69);
  order: 2;
}

.heading{
  padding-top: 100px;
  text-align: center;
  height: 350px;
  width: 100%;
  background-image: url("/images/patrick-perkins-ETRPjvb0KM0-unsplash.jpg");
  background-size: cover;
  border-radius: 10px;
}
/* comment */

.research main h2{
  text-align: center;
}
.images{
 
  width:100%  ;
  margin:30px;
  
}
#logo{
  height: 100px;
}
#logo1{
  height: 100px
}
#logo2{
  height: 100px;
}
#logo3{
  height: 100px;
}
#logo4{
  height: 100px;
}
h2{
  font-size: larger;
  padding: 20px ;
  color: white;
  font-size: 40px;
  letter-spacing: 5px;
}
#main{
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 10px;
  padding-top: 30px;
  padding-left: 20px;
  color: #1A1423;
}
.head{
  margin-top: 20px;
  padding:10px;
  background-color: rgb(51, 65, 92);
  border-radius: 10px;
  text-align: center;
}
.yt{
  display: flex;
  color: white;
}
.w3{
  display: flex;
}
.dribble{
  display: flex;
}
.iic{
  display: flex;
}
.harry{
  display: flex;
}
